{% extends 'products/base.html' %}

{% block title %} Purchase List {% endblock %}

{% block content %}

<div class="col-5">
    {% for purchase in purchase_list.all %}
    <p><h3>{{ purchase.product_id }}</h3></p>
    <p>Amount: {{ purchase.amount }}</p>
    <p>Price: {{ purchase.product_id.price }}</p>
    <p>{{ purchase.created_at }}</p>
    {% if purchase.make_refund_status == False %}
    <form action="" method="post">
        {% csrf_token %}
        <input type='hidden' name='purchase_id' value='{{ purchase.id }}'>
        <input type="submit" class="btn btn-danger" value="Make refund" name="refund">
    </form>
    {% else%}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    <hr>
    {% empty %}
    <p><h3>Sorry. There are no purchases in this list.</h3></p>
    {% endfor %}
</div>


{% endblock %}